body {
    background-size: cover;
}
.btn-left {
    position: absolute;
    z-index: 1;
}
.pannel-content-pos {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgb(128, 128, 128, .8)
}
.greeting {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    color: white;
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 2rem;    
}
.my-name, .my-name:active, .my-name:focus, .my-name::placeholder {
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 2.3rem;
    font-weight: 500;
}
.todo, .todo:active, .todo:focus, .todo::placeholder {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 60vw;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 2rem;    
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
}
.todo-card {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    z-index: 1;
    color: white;
    opacity: .9;
}
.todo-card span {
    font-size: 2rem;
    text-align: end;
    cursor: pointer;
}
.todo-controls {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    width: 95%;
}
.todo-badge {
    font-size: 3rem;
}
.weather-city, .weather-city:active, .weather-city:focus {
    width: 25vw;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 2rem;    
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    box-shadow: none;
    outline: none;
    font-size: 2.3rem;
}
.weather-city::placeholder {
    color: white;
    text-shadow: 0 0 5px black;  
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 2.3rem;
}
.weather-title {
    font-size: 2rem;
    text-align: center;
}
.weather-row {
    display: flex;
    flex-flow: wrap row;
}
.w-item {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}
.w-low {
    background-color: lightblue;
}
.w-high {
    background-color: lightcoral
}
.humidity {
    background-color: #6a7f91;
    text-align: center;
}
.quote-body {
    background-color: white;
}
.quote-text {
    font-family: 'Marck Script', cursive;
}
/* toggle icon css, thanks transformicons.com */
.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent; }
    .tcon > * {
      display: block; }
    .tcon:hover, .tcon:focus {
      outline: none; }
    .tcon::-moz-focus-inner {
      border: 0; }
  
  .tcon-menu__lines {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: white;
    position: relative; }
    .tcon-menu__lines::before, .tcon-menu__lines::after {
      display: inline-block;
      height: 5.71429px;
      width: 40px;
      border-radius: 2.85714px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background: white;
      content: '';
      position: absolute;
      left: 0;
      -webkit-transform-origin: 2.85714px center;
      transform-origin: 2.85714px center;
      width: 100%; }
    .tcon-menu__lines::before {
      top: 10px; }
    .tcon-menu__lines::after {
      top: -10px; }
    .tcon-transform .tcon-menu__lines {
      -webkit-transform: scale3d(0.8, 0.8, 0.8);
      transform: scale3d(0.8, 0.8, 0.8); }
  
  .tcon-menu--xbutterfly {
    width: auto; }
    .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transition: top .3s .6s ease, -webkit-transform .3s ease;
      transition: top .3s .6s ease, -webkit-transform .3s ease;
      transition: top .3s .6s ease, transform .3s ease;
      transition: top .3s .6s ease, transform .3s ease, -webkit-transform .3s ease; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
      background: transparent; }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
        top: 0;
        -webkit-transition: top .3s ease, -webkit-transform .3s .5s ease;
        transition: top .3s ease, -webkit-transform .3s .5s ease;
        transition: top .3s ease, transform .3s .5s ease;
        transition: top .3s ease, transform .3s .5s ease, -webkit-transform .3s .5s ease;
        width: 40px; }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg); }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg); }
  
  .tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
    .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; }
  